<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744320878826-b6q78c0bv3b5k8j6129i1bed0bhutliv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744320878826-b6q78c0bv3b5k8j6129i1bed0bhutliv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>744320878826-lodk69s4opdarm3vg2m25iiofrt0pcmh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB1dfCrFthhA2T0yYwIy20UeZTmigQSQcY</string>
	<key>GCM_SENDER_ID</key>
	<string>744320878826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bixink.initialproject</string>
	<key>PROJECT_ID</key>
	<string>initialproject</string>
	<key>STORAGE_BUCKET</key>
	<string>initialproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744320878826:ios:1038e7995e4df0224caf93</string>
	<key>DATABASE_URL</key>
	<string>localhost:8080</string>
</dict>
</plist>